fastapi==0.116.1
uvicorn==0.35.0
requests==2.32.5
python-dotenv==1.1.1
pydantic==2.11.7
bcrypt>=5.0.0
pyjwt==2.10.1
langchain==1.2.12
langchain-community==0.4.1
langchain-core==1.2.20
langchain-groq==1.1.2
langgraph==1.1.5
langsmith==0.7.20